.page{
    text-align: center;
}
.block-post{
    display: flex;
    max-width: 1200px;
    margin: auto;
    margin-top: 40px;
    flex-wrap: wrap;
}
.post{
    width: 33%;
}
.post-img{
    height: 100px;
}
.post-page{
    margin: auto;
}
.post-page img{
    width: 400px;
    height: 240px;
}
.login{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.main-crud{
    width: 1200px;
    display: flex;
    margin: auto;
}
.left-content{

    width: 15%;
    text-align: center;
}
.right-content{
    width: 85%;
    margin-left: 50px;
}
.item{
    margin-top: 20px;
}
